body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    min-height: calc(100vh - 120px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1944px;
    margin: 0 auto;
    padding: 10px 20px;
}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    height: 100px;
    margin-right: 10px;
}

.navbar-right {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.navbar-right input {
    position: relative;
    padding: 6px 10px;
    border-radius: 4px;
    z-index: 105;
}

.pokemon-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 240px);
    gap: 20px;
    padding: 20px 0;
}

.footer {
    border: 1px solid black;
    height: 120px;
}

.loading-overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}


.rotate-spinner {
    width: 250px;
    height: auto;
    animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.search-modus {
    display: flex;
    padding-top: 5px;
    gap: 10px;
}

.search-results {
    position: absolute;
    border: 1px solid #ccc;
    max-height: 80%;
    overflow-y: auto;
    width: 50%;
    max-height: 300px;
    display: none;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.result-item {
    cursor: pointer;
    border-radius: 1px solid;
    display: flex;
    align-items: center;
    gap: 24px
}

.result-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.result-item {
    font-size: 1.5em;
    font-weight: bold;
}

.result-item>span:first-child {
    width: 90px;
    padding-left: 300px;
}

.search-overlay {
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 10;
}

.clear-Search {
    position: relative;
    left: 27%;
    top: -16%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    font-size: 48px;
    display: none;
    z-index: 101;
}

.search-btn {
    width: 80px;
    height: 30px;
    cursor: pointer;
}

@media(max-width: 1073px) {
    .tab-btn {
        padding: 0.5rem 1rem;
    }

    .table-stats>tbody>tr :first-child {
        padding-right: 25px;
    }

    .result-item {
        font-size: 1.2em;
    }
}

@media(max-width: 790px) {
    .pokemon-img img {
        transform: scale(1.0);
    }

    .detail-view-pokemon {
        width: 50%;
    }

    .search-results {
        width: 75%;
    }

    .clear-Search {
        left: 39%;
        top: -17%;
    }
}

@media(max-width: 600px) {
    .navbar-left {
        flex-direction: column;
    }

    .navbar-left img {
        height: 64px;
        margin-right: 10px;
    }

    .detail-view-pokemon {
        width: 80%;
    }
}

@media (max-width: 475px) {
    .navbar-left h1 {
        display: none;
    }

    .search-modus {
        flex-direction: column;
    }

    .table-stats>tbody>tr :first-child {
        padding-right: 10px;
    }

    .result-item {
        font-size: 1em;
    }

    .result-item img {
        width: 60px;
        height: 60px;
    }
}