body {
    margin: 0;
    font-family: Arial, sans-serif;
}

#wrapper {
    min-height: calc(100vh - 120px);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1944px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #27222b;
    background-image: linear-gradient(300deg, rgba(39, 34, 43, 1) 0%, rgba(47, 4, 204, 1) 50%, rgba(44, 44, 82, 1) 100%);
    height: 120px;

}

.navbar-left {
    display: flex;
    align-items: center;
}

.navbar-left img {
    height: 100px;
    margin-right: 10px;
}

.navbar-left h1 {
    /* color: black; */
}

.navbar-right input {
    padding: 6px 10px;
    border-radius: 4px;
    color: black;
}

.pokemon-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #27222b;
    background-image: linear-gradient(300deg, rgba(39, 34, 43, 1) 0%, rgba(47, 4, 204, 1) 50%, rgba(44, 44, 82, 1) 100%);
    ;
    min-height: calc(100vh - 240px);
    gap: 20px;
    padding: 20px 0;
}

.footer {
    border: 1px solid black;
    background-color: #211799;
    background-image: linear-gradient(#211799, #1d1859);
    height: 120px;
}