.c-Pflanze {
    background-color: rgb(88, 169, 81);
}

.ic-Pflanze {
    background-color: rgba(139, 169, 81, 0.75);
}

.c-Feuer {
    background-color: #E53B19;
}

.ic-Feuer {
    background-color: #E53B19;
}

.c-Wasser {
    background-color: #278BCC;
}

.ic-Wasser {
    background-color: #278BCC;
}

.c-Käfer {
    background-color: #83AD25;
}

.ic-Käfer {
    background-color: #83AD25;
}

.c-Normal {
    background-color: #A8A899;
}

.ic-Normal {
    background-color: #A8A899;
}

.c-Kampf {
    background-color: #A84C3D;
}

.ic-Kampf {
    background-color: #A84C3D;
}

.c-Flug {
    background-color: #87B5E5;
}

.ic-Flug {
    background-color: #87B5E5;
}

.c-Elektro {
    background-color: #FFE64C;
}

.ic-Elektro {
    background-color: #FFE64C;
}

.c-Gift {
    background-color: #864AB8;
}

.ic-Gift {
    background-color: #864AB8;
}

.c-Gestein {
    background-color: #A8995B;
}

.ic-Gestein {
    background-color: #A8995B;
}

.c-Geist {
    background-color: #633C64;
}

.ic-Geist {
    background-color: #633C64;
}

.c-Stahl {
    background-color: #9999A8;
}

.ic-Stahl {
    background-color: #9999A8;
}

.c-Psycho {
    background-color: #E55973;
}

.ic-Psycho {
    background-color: #E55973;
}

.c-Eis {
    background-color: #68BAAC;
}

.ic-Eis {
    background-color: #68BAAC;
}

.c-Drache {
    background-color: #4D64AB;
}

.ic-Drache {
    background-color: #4D64AB;
}

.c-Unlicht {
    background-color: #4D64AB;
}

.ic-Unlicht {
    background-color: #4D64AB;
}

.c-Fee {
    background-color: #D480CF;
}

.ic-Fee {
    background-color: #D480CF;
}