.c-Boden {
    background-color: #956833;
    background: linear-gradient(300deg, rgba(149, 104, 51, 1) 0%, rgba(255, 142, 43, 1) 50%, rgba(149, 104, 51, 1) 100%);
}

.ic-Boden {
    background-color: #956833;
}

.c-Pflanze {
    background-color: rgb(88, 169, 81);
    background: linear-gradient(300deg, rgba(87, 199, 133, 1) 0%, rgba(88, 169, 81, 1) 50%, rgba(87, 199, 133, 1) 100%)
}

.ic-Pflanze {
    background-color: rgba(139, 169, 81, 0.75);
}

.c-Feuer {
    background-color: #E53B19;
    background: linear-gradient(300deg, rgba(199, 136, 87, 1) 0%, rgba(229, 59, 25, 1) 49%, rgba(229, 192, 25, 1) 100%);
}

.ic-Feuer {
    background-color: #E53B19;
}

.c-Wasser {
    background-color: #278BCC;
    background: linear-gradient(300deg, rgba(39, 139, 204, 1) 0%, rgba(9, 9, 121, 1) 49%, rgba(0, 212, 255, 1) 100%);
}

.ic-Wasser {
    background-color: #278BCC;
}

.c-Käfer {
    background-color: #83AD25;
    background: linear-gradient(300deg, rgba(131, 173, 37, 1) 0%, rgba(87, 199, 133, 1) 84%, rgba(237, 221, 83, 1) 100%);
}

.ic-Käfer {
    background-color: #83AD25;
}

.c-Normal {
    background-color: #A8A899;
    background: linear-gradient(300deg, rgba(168, 168, 153, 1) 0%, rgba(87, 87, 77, 1) 50%, rgba(168, 168, 153, 1) 100%);
}

.ic-Normal {
    background-color: #A8A899;

}

.c-Kampf {
    background-color: #A84C3D;
    background: linear-gradient(300deg, rgba(168, 76, 61, 1) 0%, rgba(105, 35, 24, 1) 50%, rgba(168, 76, 61, 1) 100%);
}

.ic-Kampf {
    background-color: #A84C3D;
}

.c-Flug {
    background-color: #87B5E5;
    background: linear-gradient(300deg, rgba(135, 181, 229, 1) 0%, rgba(24, 86, 168, 1) 50%, rgba(135, 181, 229, 1) 100%);
}

.ic-Flug {
    background-color: #87B5E5;
}

.c-Elektro {
    background-color: #FFE64C;
    background: linear-gradient(300deg, rgba(255, 230, 76, 1) 0%, rgba(143, 129, 81, 1) 50%, rgba(255, 230, 76, 1) 100%);
}

.ic-Elektro {
    background-color: #FFE64C;
}

.c-Gift {
    background-color: #864AB8;
    background: linear-gradient(300deg, rgba(134, 74, 184, 1) 0%, rgba(196, 0, 245, 1) 50%, rgba(134, 74, 184, 1) 100%);
}

.ic-Gift {
    background-color: #864AB8;
}

.c-Gestein {
    background-color: #A8995B;
    background: linear-gradient(300deg, rgba(168, 153, 91, 1) 0%, rgba(181, 146, 7, 1) 50%, rgba(168, 153, 91, 1) 100%);
}

.ic-Gestein {
    background-color: #A8995B;
}

.c-Geist {
    background-color: #633C64;
    background: linear-gradient(300deg, rgba(99, 60, 100, 1) 0%, rgba(243, 0, 247, 1) 50%, rgba(99, 60, 100, 1) 100%);
}

.ic-Geist {
    background-color: #633C64;
}

.c-Stahl {
    background-color: #9999A8;
    background: linear-gradient(300deg, rgba(153, 153, 168, 1) 0%, rgba(87, 87, 102, 1) 50%, rgba(153, 153, 168, 1) 100%);
}

.ic-Stahl {
    background-color: #9999A8;
}

.c-Psycho {
    background-color: #E55973;
    background: linear-gradient(300deg, rgba(229, 89, 115, 1) 0%, rgba(255, 0, 68, 1) 50%, rgba(229, 89, 115, 1) 100%);
}

.ic-Psycho {
    background-color: #E55973;
}

.c-Eis {
    background-color: #68BAAC;
    background: linear-gradient(300deg, rgba(104, 186, 172, 1) 0%, rgba(0, 90, 199, 1) 50%, rgba(104, 186, 172, 1) 100%);
}

.ic-Eis {
    background-color: #68BAAC;
}

.c-Drache {
    background-color: #4D64AB;
    background: linear-gradient(300deg, rgba(77, 100, 171, 1) 0%, rgba(0, 68, 255, 1) 50%, rgba(77, 100, 171, 1) 100%);
}

.ic-Drache {
    background-color: #4D64AB;
}

.c-Unlicht {
    background-color: #4D64AB;
    background: linear-gradient(300deg, rgba(77, 100, 171, 1) 0%, rgba(39, 43, 48, 1) 50%, rgba(77, 100, 171, 1) 100%);
}

.ic-Unlicht {
    background-color: #4D64AB;
}

.c-Fee {
    background-color: #D480CF;
    background: linear-gradient(300deg, rgba(212, 128, 207, 1) 0%, rgba(147, 0, 245, 1) 50%, rgba(212, 128, 207, 1) 100%);
}

.ic-Fee {
    background-color: #D480CF;
}

.navbar {
    background-color: #27222b;
    background-image: linear-gradient(300deg, rgba(39, 34, 43, 1) 0%, rgba(47, 4, 204, 1) 50%, rgba(44, 44, 82, 1) 100%);
    height: 120px;
}

.navbar-right input {
    color: black;
}

.pokemon-content {
    background-color: #27222b;
    background-image: linear-gradient(300deg, rgba(39, 34, 43, 1) 0%, rgba(47, 4, 204, 1) 50%, rgba(44, 44, 82, 1) 100%);
}

.footer {
    background-color: #211799;
    background-image: linear-gradient(#211799, #1d1859);
}