.pokemon-detail-Overlay {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.detail-view-pokemon {
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.9);
    text-align: center;
    height: 72%;
    width: 35%;

}

.detail-card-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.pokemon-tabs {
    margin-top: 2rem;
}

.tab-buttons {
    display: flex;
    border-bottom: 1px solid #ccc;
    justify-content: center;
}

.tab-btn {
    background: none;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    font-size: 1rem;
    border-bottom: 2px solid transparent;
    transition: border-color 0.2s;
}

.tab-btn.active {
    border-bottom: 6px solid#fcfbfb;
    font-weight: bold;
}

.tab-content {
    display: none;
    padding: 1rem 0;
}

.tab-content.active {
    display: block;
}

.arrow-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.arrow {
    background: rgba(0, 0, 0, -0.1);
    border: none;
    font-size: 2rem;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.75);
    cursor: pointer;
    transition: background 0.2s;
    z-index: 2;
    padding: 0;

}

.arrow:hover {
    background: #e0e0e0;
}

.disable-arrow {
    background: transparent !important;
    color: transparent;
    box-shadow: none;
    cursor: auto;
}

.table-stats {
    display: flex;
    justify-content: center;
}

.table-stats>tbody>tr :first-child {
    text-align: start;
}

.table-stats>tbody>tr :first-child {
    padding-right: 50px;
}

.table-stats>tbody>tr :nth-child(2) {
    min-width: 80px;
}

.evolution-container {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;


}

.evolution-view-pokemon {
    display: flex;
    padding: 0px 2px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.75);
    width: 90px;
    height: 90px;

}

.evolution-view-pokemon:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.75);
    cursor: pointer;
}

.evolution-view-pokemon-aktiv {
    display: flex;
    padding: 0px 2px;
    border-radius: 10%;
    width: 90px;
    height: 90px;
}

.mini-pokemon-img {
    object-fit: cover;
}

.mini-pokemon-img img {
    height: 50px;
    width: 50px;
}

.mini-card-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}