.card-view {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-view-pokemon {
    display: flex;
    padding: 15px 2px;
    border: 1px solid black;
    border-radius: 10%;
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.75);
    width: 250px;
    height: 250px;

}

.main-view-pokemon:hover {
    box-shadow: 0 0 8px 4px rgba(0, 0, 0, 1.75);
}

.main-view-pokemon-plus {
    display: flex;
    border: 2px solid black;
    border-radius: 10%;
    width: 250px;
    height: 250px;
}

.pokemon-id {
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

.pokemon-name {
    display: flex;
    justify-content: center;
}

.pokemon-type-and-img {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
}

.pokemon-types {
    width: 40%;
    height: 150px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.pokemon-types img {
    height: 40px;
    width: 40px;
    margin: 5px;
    padding: 8px;
    border: 2px solid black;
    box-shadow: 0 0 5px 41x rgba(0, 0, 0, 0.55);
    border-radius: 45%;
    text-align: center;
}

.pokemon-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
}

.pokemon-img img {
    object-fit: contain;
    transform: scale(1.3);

}